.accordion collapse {
  border: 0;
}

.accordion-button:focus {
  box-shadow: none;
  border: none;
  background: #293a80;
  color: var(--bs-accordion-bg);
}

.accordion-button:not(.collapsed) {
  background: none;
  color: #ff9800;
  box-shadow: none;
  border-bottom: none;
}

.accordion-button::after {
  width: auto;
  height: auto;
  content: "+";
  background-image: none;
  font-weight: 100;
  transform: translateY(-4px);
  font-size: 40px;
  color: #e35712;
  font-family: 'Fredoka One', serif;
}

.accordion-button:not(.collapsed)::after {
  width: auto;
  height: auto;
  background-image: none;
  content: "-";
  font-size: 48px;
  transform: translate(-5px, -4px);
  transform: rotate(0deg);
}

.btn-primary:hover {
}

.btn-primary:hover {
}

.accordion-button:not {
}

.dropdown-item:focus, .dropdown-item:hover {
  color: rgb(255,255,255);
  background: rgba(41,58,128,0.95);
}

